In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
missing_values=['None',' None']
df_train=pd.read_csv("train_multichannel_marketing_datasets.csv",na_values=missing_values,encoding='ISO-8859-1')

c:\python37\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (12,16,17,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_test=pd.read_csv("test_multichannel_marketing_datasets.csv",na_values=missing_values,encoding='ISO-8859-1')

c:\python37\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_train.head()

,visitNumber,visitId,visitStartTime,date,visits,hit,Pageviews,timeOnSite,transactions,transactionRevenue,...,Continent,subContinent,country,region,metro,city,networkDomain,fullVisitorId,channelGrouping,socialEngagementType
0,1.0,1.470041e+09,1.470041e+09,20160801.0,1.0,1.0,1.0,NaN,NaN,NaN,...,Asia,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,2.490000e+18,Social,Not Socially Engaged
1,1.0,1.470046e+09,1.470046e+09,20160801.0,1.0,1.0,1.0,NaN,NaN,NaN,...,Asia,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,9.290000e+17,Social,Not Socially Engaged
2,1.0,1.470113e+09,1.470113e+09,20160801.0,1.0,1.0,1.0,NaN,NaN,NaN,...,Asia,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,1.620000e+18,Social,Not Socially Engaged
3,1.0,1.470163e+09,1.470163e+09,20160802.0,1.0,1.0,1.0,NaN,NaN,NaN,...,Asia,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,7.210000e+18,Social,Not Socially Engaged
4,1.0,1.470286e+09,1.470286e+09,20160803.0,1.0,1.0,1.0,NaN,NaN,NaN,...,Asia,Southern Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,5.090000e+18,Social,Not Socially Engaged

In [5]:
df_train.columns

Index(['visitNumber', 'visitId', 'visitStartTime', 'date', 'visits', 'hit',
       'Pageviews', 'timeOnSite', 'transactions', 'transactionRevenue',
       'totalTransactionRevenue', 'sessionQualityDim', 'referralPath',
       'campaign', 'source', 'medium', 'keyword', 'adContent', 'browser',
       'operatingSystem', 'isMobile', 'deviceCategory', 'Continent',
       'subContinent', 'country', 'region', 'metro', 'city', 'networkDomain',
       'fullVisitorId', 'channelGrouping', 'socialEngagementType'],
      dtype='object')

In [6]:
df_train.isnull().sum()

visitNumber                   364
visitId                       364
visitStartTime                364
date                          364
visits                        364
hit                           364
Pageviews                     463
timeOnSite                 448932
transactions               886836
transactionRevenue         886872
totalTransactionRevenue    886872
sessionQualityDim          832486
referralPath               569298
campaign                      382
source                        364
medium                        364
keyword                    658564
adContent                  887240
browser                       364
operatingSystem               364
isMobile                      364
deviceCategory                364
Continent                     364
subContinent                  364
country                       364
region                        364
metro                         364
city                          364
networkDomain                 364
fullVisitorId                 365
channelGrouping             71814
socialEngagementType            2
dtype: int64

In [7]:
print(df_train.shape)
print(df_test.shape)

(898309, 32)
(401589, 30)

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898309 entries, 0 to 898308
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   visitNumber              897945 non-null  float64
 1   visitId                  897945 non-null  float64
 2   visitStartTime           897945 non-null  float64
 3   date                     897945 non-null  float64
 4   visits                   897945 non-null  float64
 5   hit                      897945 non-null  float64
 6   Pageviews                897846 non-null  float64
 7   timeOnSite               449377 non-null  float64
 8   transactions             11473 non-null   float64
 9   transactionRevenue       11437 non-null   float64
 10  totalTransactionRevenue  11437 non-null   float64
 11  sessionQualityDim        65823 non-null   float64
 12  referralPath             329011 non-null  object
 13  campaign                 897927 non-null  object
 14  source                   897945 non-null  object
 15  medium                   897945 non-null  object
 16  keyword                  239745 non-null  object
 17  adContent                11069 non-null   object
 18  browser                  897945 non-null  object
 19  operatingSystem          897945 non-null  object
 20  isMobile                 897945 non-null  object
 21  deviceCategory           897945 non-null  object
 22  Continent                897945 non-null  object
 23  subContinent             897945 non-null  object
 24  country                  897945 non-null  object
 25  region                   897945 non-null  object
 26  metro                    897945 non-null  object
 27  city                     897945 non-null  object
 28  networkDomain            897945 non-null  object
 29  fullVisitorId            897944 non-null  float64
 30  channelGrouping          826495 non-null  object
 31  socialEngagementType     898307 non-null  object
dtypes: float64(13), object(19)
memory usage: 219.3+ MB

# Feature Engineering

In [9]:
df_train.socialEngagementType.unique()

array(['Not Socially Engaged', 'Social', 'Referral', 'Organic Search',
       'Affiliates', 'Direct', 'Display', 'Paid Search', nan, '(Other)',
       'channelGrouping', 'socialEngagementType'], dtype=object)

In [10]:
df_train.visits.unique()

array([ 1., nan])

In [11]:
df_train.Pageviews.unique()

array([  1.,  nan,   2.,   3.,   6.,   4.,  18.,  23.,  16.,  21.,   9.,
        13.,  25.,  37.,  11.,  33.,  14.,   8.,  15.,   7.,  22.,  12.,
        10.,  17.,  28.,   5.,  19.,  46., 139.,  20.,  51.,  82.,  63.,
        31.,  26.,  29.,  42.,  24.,  34.,  36.,  71.,  86.,  35.,  43.,
        47.,  27.,  41.,  38.,  85.,  55.,  54., 117.,  32.,  70.,  30.,
        48.,  58.,  53.,  75.,  98.,  40.,  39.,  59.,  65.,  56.,  50.,
        44.,  52.,  89.,  80.,  45.,  49.,  61.,  93.,  66.,  78.,  68.,
       128.,  57.,  76., 189., 141.,  62.,  60.,  64., 125.,  73., 101.,
       104.,  77.,  72.,  97.,  67.,  69., 124., 103., 147., 119., 107.,
        91.,  79.,  92.,  83., 156., 108., 341., 154.,  88., 202.,  99.,
       190., 193., 113.,  74., 333.,  84.,  81.,  95., 145., 148., 185.,
       224., 169.,  90., 146., 100., 179., 121., 110., 111., 102.,  96.,
       133., 197., 136., 126., 118., 106., 249., 219., 132., 173., 165.,
       340., 130., 112., 134., 166., 162., 143.,  87., 201., 186., 175.,
       168., 167., 135., 116., 144., 140., 131., 188., 138., 123., 105.,
       114., 109., 150., 161., 324.,  94., 127., 245., 300., 220., 275.,
       199., 429., 327., 142., 176., 210., 223., 115., 164., 153., 183.,
       122., 137., 195., 174., 191., 351., 323., 431., 309., 215., 129.,
       233., 120., 151., 469., 182., 400., 358., 149., 196., 466., 343.,
       232., 208., 270., 305.])

In [12]:
df_train.campaign.unique()

array(['(not set)', 'Data Share Promo', 'Data Share',
       'AW - Dynamic Search Ads Whole Site', 'AW - Accessories',
       'AW - Electronics', 'AW - Apparel', 'All Products', nan, ','],
      dtype=object)

In [13]:
df_test.drop(['Unnamed: 0'],inplace=True,axis=1)

**Check Columns for test dataset**
>- Drop Unnamed column as it is not necessary

In [14]:
df_test.columns

Index(['channelGrouping', 'date', 'fullVisitorId', 'visitId', 'visitNumber',
       'visitStartTime', 'device.browser', 'device.operatingSystem',
       'device.isMobile', 'device.deviceCategory', 'geoNetwork.continent',
       'geoNetwork.subContinent', 'geoNetwork.country', 'geoNetwork.region',
       'geoNetwork.metro', 'geoNetwork.city', 'geoNetwork.networkDomain',
       'totals.hits', 'totals.pageviews', 'totals.timeOnSite',
       'totals.sessionQualityDim', 'totals.transactions',
       'totals.transactionRevenue', 'trafficSource.referralPath',
       'trafficSource.campaign', 'trafficSource.source',
       'trafficSource.medium', 'trafficSource.keyword',
       'trafficSource.adContent'],
      dtype='object')

In [15]:
df_train.drop(['visits','totalTransactionRevenue','socialEngagementType'],inplace=True,axis=1)

**Check Columns for train dataset**
>- Drop Visits column as it denotes "the convenience of a session. It is 1 if the session is convenient otherwise 0" which is not that useful as we have sessionqualitydim column which gives better values instead of this column 
>- Drop socialEngagementType column as it contains similar values like in channelGrouping and source columns so To avoid the redundancy in dataset we drop
>- Drop totalTransactionRevenue it is also similar to TransactionRevenue

In [16]:
df_train.columns

Index(['visitNumber', 'visitId', 'visitStartTime', 'date', 'hit', 'Pageviews',
       'timeOnSite', 'transactions', 'transactionRevenue', 'sessionQualityDim',
       'referralPath', 'campaign', 'source', 'medium', 'keyword', 'adContent',
       'browser', 'operatingSystem', 'isMobile', 'deviceCategory', 'Continent',
       'subContinent', 'country', 'region', 'metro', 'city', 'networkDomain',
       'fullVisitorId', 'channelGrouping'],
      dtype='object')

##### Rename the features

In [17]:
df_train = df_train.rename(columns={"sessionQualityDim":"totals.sessionQualityDim","timeOnSite":"totals.timeOnSite","transactions":"totals.transactions",
                                   "transactionRevenue":"totals.transactionRevenue",'hit':'totals.hits','Pageviews':'totals.pageviews',"keyword":"trafficSource.keyword",
                                   "referralPath":"trafficSource.referralPath","adContent":"trafficSource.adContent","campaign":"trafficSource.campaign","source":"trafficSource.source",
                                    "medium":"trafficSource.medium",'browser':'device.browser','operatingSystem':'device.operatingSystem',
                                   'isMobile':'device.isMobile','deviceCategory':'device.deviceCategory',
                                   'Continent':'geoNetwork.continent','subContinent':'geoNetwork.subContinent','country':'geoNetwork.country',
                                   'region':'geoNetwork.region','metro':'geoNetwork.metro','city':'geoNetwork.city','networkDomain':'geoNetwork.networkDomain'})

In [18]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898309 entries, 0 to 898308
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   visitNumber                 897945 non-null  float64
 1   visitId                     897945 non-null  float64
 2   visitStartTime              897945 non-null  float64
 3   date                        897945 non-null  float64
 4   totals.hits                 897945 non-null  float64
 5   totals.pageviews            897846 non-null  float64
 6   totals.timeOnSite           449377 non-null  float64
 7   totals.transactions         11473 non-null   float64
 8   totals.transactionRevenue   11437 non-null   float64
 9   totals.sessionQualityDim    65823 non-null   float64
 10  trafficSource.referralPath  329011 non-null  object
 11  trafficSource.campaign      897927 non-null  object
 12  trafficSource.source        897945 non-null  object
 13  trafficSource.medium        897945 non-null  object
 14  trafficSource.keyword       239745 non-null  object
 15  trafficSource.adContent     11069 non-null   object
 16  device.browser              897945 non-null  object
 17  device.operatingSystem      897945 non-null  object
 18  device.isMobile             897945 non-null  object
 19  device.deviceCategory       897945 non-null  object
 20  geoNetwork.continent        897945 non-null  object
 21  geoNetwork.subContinent     897945 non-null  object
 22  geoNetwork.country          897945 non-null  object
 23  geoNetwork.region           897945 non-null  object
 24  geoNetwork.metro            897945 non-null  object
 25  geoNetwork.city             897945 non-null  object
 26  geoNetwork.networkDomain    897945 non-null  object
 27  fullVisitorId               897944 non-null  float64
 28  channelGrouping             826495 non-null  object
dtypes: float64(11), object(18)
memory usage: 198.8+ MB

**Convert  Boolean type**
>- isMobile has value True or False so we can convert them into bool type

In [19]:
df_train['device.isMobile'] = df_train['device.isMobile'].astype(bool)
df_test['device.isMobile']  = df_test['device.isMobile'].astype(bool)

In [20]:
num_feat=df_test.select_dtypes(include='float64').columns
num_feat

Index(['totals.pageviews', 'totals.transactions', 'totals.transactionRevenue'], dtype='object')

In [21]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401589 entries, 0 to 401588
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   channelGrouping             401589 non-null  object
 1   date                        401589 non-null  int64
 2   fullVisitorId               401589 non-null  object
 3   visitId                     401589 non-null  int64
 4   visitNumber                 401589 non-null  int64
 5   visitStartTime              401589 non-null  int64
 6   device.browser              401589 non-null  object
 7   device.operatingSystem      401589 non-null  object
 8   device.isMobile             401589 non-null  bool
 9   device.deviceCategory       401589 non-null  object
 10  geoNetwork.continent        401589 non-null  object
 11  geoNetwork.subContinent     401589 non-null  object
 12  geoNetwork.country          401589 non-null  object
 13  geoNetwork.region           401589 non-null  object
 14  geoNetwork.metro            401589 non-null  object
 15  geoNetwork.city             401589 non-null  object
 16  geoNetwork.networkDomain    401589 non-null  object
 17  totals.hits                 401589 non-null  int64
 18  totals.pageviews            401488 non-null  float64
 19  totals.timeOnSite           401589 non-null  int64
 20  totals.sessionQualityDim    401589 non-null  int64
 21  totals.transactions         6305 non-null    float64
 22  totals.transactionRevenue   4594 non-null    float64
 23  trafficSource.referralPath  401589 non-null  object
 24  trafficSource.campaign      401589 non-null  object
 25  trafficSource.source        401589 non-null  object
 26  trafficSource.medium        401589 non-null  object
 27  trafficSource.keyword       361363 non-null  object
 28  trafficSource.adContent     401589 non-null  object
dtypes: bool(1), float64(3), int64(7), object(18)
memory usage: 86.2+ MB

**Convert numeric features to float** <br>
Numeric Features:
>- date
>- visitId
>- visitNumber
>- visitStartTime
>- totals.hits
>- totals.timeOnSite
>- totals.sessionQualityDim

In [22]:
num_feat_test=['date', 'visitId', 'visitNumber', 'visitStartTime', 'totals.hits',
       'totals.timeOnSite', 'totals.sessionQualityDim','fullVisitorId']
for col in num_feat_test:    
    df_test[col] = df_test[col].astype('float')

In [23]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401589 entries, 0 to 401588
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   channelGrouping             401589 non-null  object
 1   date                        401589 non-null  float64
 2   fullVisitorId               401589 non-null  float64
 3   visitId                     401589 non-null  float64
 4   visitNumber                 401589 non-null  float64
 5   visitStartTime              401589 non-null  float64
 6   device.browser              401589 non-null  object
 7   device.operatingSystem      401589 non-null  object
 8   device.isMobile             401589 non-null  bool
 9   device.deviceCategory       401589 non-null  object
 10  geoNetwork.continent        401589 non-null  object
 11  geoNetwork.subContinent     401589 non-null  object
 12  geoNetwork.country          401589 non-null  object
 13  geoNetwork.region           401589 non-null  object
 14  geoNetwork.metro            401589 non-null  object
 15  geoNetwork.city             401589 non-null  object
 16  geoNetwork.networkDomain    401589 non-null  object
 17  totals.hits                 401589 non-null  float64
 18  totals.pageviews            401488 non-null  float64
 19  totals.timeOnSite           401589 non-null  float64
 20  totals.sessionQualityDim    401589 non-null  float64
 21  totals.transactions         6305 non-null    float64
 22  totals.transactionRevenue   4594 non-null    float64
 23  trafficSource.referralPath  401589 non-null  object
 24  trafficSource.campaign      401589 non-null  object
 25  trafficSource.source        401589 non-null  object
 26  trafficSource.medium        401589 non-null  object
 27  trafficSource.keyword       361363 non-null  object
 28  trafficSource.adContent     401589 non-null  object
dtypes: bool(1), float64(11), object(17)
memory usage: 86.2+ MB

**Fill null values of numeric features with 0**

In [24]:
numeric_feat=['date', 'fullVisitorId', 'visitId', 'visitNumber', 'visitStartTime',
       'totals.hits', 'totals.pageviews', 'totals.timeOnSite',
       'totals.sessionQualityDim', 'totals.transactions',
       'totals.transactionRevenue']

for col in numeric_feat:
    df_train[col].fillna(0,inplace=True)    
    df_test[col].fillna(0,inplace=True)

In [25]:
df_train.isnull().sum()

visitNumber                        0
visitId                            0
visitStartTime                     0
date                               0
totals.hits                        0
totals.pageviews                   0
totals.timeOnSite                  0
totals.transactions                0
totals.transactionRevenue          0
totals.sessionQualityDim           0
trafficSource.referralPath    569298
trafficSource.campaign           382
trafficSource.source             364
trafficSource.medium             364
trafficSource.keyword         658564
trafficSource.adContent       887240
device.browser                   364
device.operatingSystem           364
device.isMobile                    0
device.deviceCategory            364
geoNetwork.continent             364
geoNetwork.subContinent          364
geoNetwork.country               364
geoNetwork.region                364
geoNetwork.metro                 364
geoNetwork.city                  364
geoNetwork.networkDomain         364
fullVisitorId                      0
channelGrouping                71814
dtype: int64

In [26]:
df_train['device.deviceCategory'].unique()
#impute ',' &'nan' in source
#impute '(none)' &'nan','(not set)' in medium
#impute ',' &'nan' &'(not set)' in campaign
#impute '0' &'nan' &'(not set)' in browser
#impute 'nan' &'(not set)' in OS
#impute 'nan' in deiceCat

array(['desktop', 'mobile', 'tablet', nan], dtype=object)

In [27]:
df_train['trafficSource.keyword'].replace(['nan','NaN','(not provided)'], 'others',inplace=True)
df_train['trafficSource.keyword'].fillna('others', inplace=True)

In [28]:
df_test['trafficSource.keyword'].replace(['nan','NaN','(not provided)'], 'others',inplace=True)
df_test['trafficSource.keyword'].fillna('others', inplace=True)

In [29]:
df_train['trafficSource.source'].replace(['nan','NaN',','], 'others',inplace=True)
df_train['trafficSource.source'].fillna('others', inplace=True)
df_test['trafficSource.source'].replace(['nan','NaN',','], 'others',inplace=True)
df_test['trafficSource.source'].fillna('others', inplace=True)

In [30]:
df_train['trafficSource.medium'].replace(['nan','NaN','(not set)','(none)'], 'others',inplace=True)
df_train['trafficSource.medium'].fillna('others', inplace=True)
df_test['trafficSource.medium'].replace(['nan','NaN','(not set)','(none)'], 'others',inplace=True)
df_test['trafficSource.medium'].fillna('others', inplace=True)

In [31]:
df_train['trafficSource.campaign'].replace(['nan','NaN','(not set)',','], 'others',inplace=True)
df_train['trafficSource.campaign'].fillna('others', inplace=True)
df_test['trafficSource.campaign'].replace(['nan','NaN','(not set)',','], 'others',inplace=True)
df_test['trafficSource.campaign'].fillna('others', inplace=True)

In [32]:
df_train['device.browser'].replace(['nan','NaN','(not set)','0'], 'others',inplace=True)
df_train['device.browser'].fillna('others', inplace=True)
df_test['device.browser'].replace(['nan','NaN','(not set)','0'], 'others',inplace=True)
df_test['device.browser'].fillna('others', inplace=True)

In [33]:
df_train['device.operatingSystem'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['device.operatingSystem'].fillna('others', inplace=True)
df_test['device.operatingSystem'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['device.operatingSystem'].fillna('others', inplace=True)

In [34]:
df_train['device.deviceCategory'].replace(['nan','NaN'], 'others',inplace=True)
df_train['device.deviceCategory'].fillna('others', inplace=True)
df_test['device.deviceCategory'].replace(['nan','NaN'], 'others',inplace=True)
df_test['device.deviceCategory'].fillna('others', inplace=True)

In [35]:
df_train['geoNetwork.continent'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['geoNetwork.continent'].fillna('others', inplace=True)
df_test['geoNetwork.continent'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['geoNetwork.continent'].fillna('others', inplace=True)

In [36]:
df_train['geoNetwork.subContinent'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['geoNetwork.subContinent'].fillna('others', inplace=True)
df_test['geoNetwork.subContinent'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['geoNetwork.subContinent'].fillna('others', inplace=True)

In [37]:
df_train['geoNetwork.country'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['geoNetwork.country'].fillna('others', inplace=True)
df_test['geoNetwork.country'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['geoNetwork.country'].fillna('others', inplace=True)

In [38]:
df_train['geoNetwork.region'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['geoNetwork.region'].fillna('others', inplace=True)
df_test['geoNetwork.region'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['geoNetwork.region'].fillna('others', inplace=True)

In [43]:
df_train['geoNetwork.metro'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['geoNetwork.metro'].fillna('others', inplace=True)
df_test['geoNetwork.metro'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['geoNetwork.metro'].fillna('others', inplace=True)

In [47]:
df_train['geoNetwork.city'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['geoNetwork.city'].fillna('others', inplace=True)
df_test['geoNetwork.city'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['geoNetwork.city'].fillna('others', inplace=True)

In [53]:
df_train['geoNetwork.networkDomain'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_train['geoNetwork.networkDomain'].fillna('others', inplace=True)
df_test['geoNetwork.networkDomain'].replace(['nan','NaN','(not set)'], 'others',inplace=True)
df_test['geoNetwork.networkDomain'].fillna('others', inplace=True)

**Convert all the null , not set and some miscelleanous values to a new category "others", so it will easy to treat them further**

In [60]:
df_train.isnull().sum()

visitNumber                        0
visitId                            0
visitStartTime                     0
date                               0
totals.hits                        0
totals.pageviews                   0
totals.timeOnSite                  0
totals.transactions                0
totals.transactionRevenue          0
totals.sessionQualityDim           0
trafficSource.referralPath    569298
trafficSource.campaign             0
trafficSource.source               0
trafficSource.medium               0
trafficSource.keyword              0
trafficSource.adContent       887240
device.browser                     0
device.operatingSystem             0
device.isMobile                    0
device.deviceCategory              0
geoNetwork.continent               0
geoNetwork.subContinent            0
geoNetwork.country                 0
geoNetwork.region                  0
geoNetwork.metro                   0
geoNetwork.city                    0
geoNetwork.networkDomain           0
fullVisitorId                      0
channelGrouping                71814
dtype: int64

### Label Encoding for Categorical Columns

In [64]:
categorical_feat = ['channelGrouping','device.browser','device.operatingSystem','device.deviceCategory',\
'geoNetwork.continent','geoNetwork.subContinent','geoNetwork.country','geoNetwork.region','geoNetwork.metro',\
'geoNetwork.city','geoNetwork.networkDomain','totals.sessionQualityDim','trafficSource.campaign','trafficSource.source',\
'trafficSource.medium','trafficSource.keyword', 'trafficSource.adContent']

for feature in categorical_feat:
    
    label_encoder = preprocessing.LabelEncoder() # intitalizing label encoder object
    
    label_encoder.fit(list(df_train[feature].values.astype('str')) + list(df_test[feature].values.astype('str')))
                                                             # fit with list of variables in that feature
    
    df_train[feature] = label_encoder.transform(list(df_train[feature].values.astype('str'))) # transforming that feature
    df_test[feature]  = label_encoder.transform(list(df_test[feature].values.astype('str')))
    print("for this feature : {0} label-encoding was done succesfully".format(feature))

for this feature : channelGrouping label-encoding was done succesfully
for this feature : device.browser label-encoding was done succesfully
for this feature : device.operatingSystem label-encoding was done succesfully
for this feature : device.deviceCategory label-encoding was done succesfully
for this feature : geoNetwork.continent label-encoding was done succesfully
for this feature : geoNetwork.subContinent label-encoding was done succesfully
for this feature : geoNetwork.country label-encoding was done succesfully
for this feature : geoNetwork.region label-encoding was done succesfully
for this feature : geoNetwork.metro label-encoding was done succesfully
for this feature : geoNetwork.city label-encoding was done succesfully
for this feature : geoNetwork.networkDomain label-encoding was done succesfully
for this feature : totals.sessionQualityDim label-encoding was done succesfully
for this feature : trafficSource.campaign label-encoding was done succesfully
for this feature : trafficSource.source label-encoding was done succesfully
for this feature : trafficSource.medium label-encoding was done succesfully
for this feature : trafficSource.keyword label-encoding was done succesfully
for this feature : trafficSource.adContent label-encoding was done succesfully

#### LabelEncoding of referral path is not done as it gives memory error, so it better to drop that column

In [72]:
df_train.drop(['trafficSource.referralPath'],axis=1,inplace=True)
df_test.drop(['trafficSource.referralPath'],axis=1,inplace=True)

### MinMax Scaler for numeric columns

In [80]:
# from sklearn.preprocessing import MinMaxScaler

In [79]:
# scaling=MinMaxScaler()
# df_train[['visitNumber', 'visitId', 'visitStartTime', 'date', 'totals.hits','totals.pageviews', 'totals.timeOnSite', 'totals.transactions',
#        'totals.transactionRevenue']]=scaling.fit_transform(df_train[['visitNumber', 'visitId', 'visitStartTime', 'date', 'totals.hits',
#        'totals.pageviews', 'totals.timeOnSite', 'totals.transactions','totals.transactionRevenue']])

# df_test[['visitNumber', 'visitId', 'visitStartTime', 'date', 'totals.hits','totals.pageviews', 'totals.timeOnSite', 'totals.transactions',
#        'totals.transactionRevenue']]=scaling.fit_transform(df_test[['visitNumber', 'visitId', 'visitStartTime', 'date', 'totals.hits',
#        'totals.pageviews', 'totals.timeOnSite', 'totals.transactions','totals.transactionRevenue']])

In [84]:
# storing all label encoded data into fiels:
df_train.to_csv('case study data/labelencoded_train_df.csv')
df_test.to_csv('case study data/labelencoded_test_df.csv')

In [86]:
# reading all label encoded data from fiels:

df_train = pd.read_csv('case study data/labelencoded_train_df.csv',dtype={'fullVisitorId': 'str'},index_col=0)
df_test = pd.read_csv('case study data/labelencoded_test_df.csv',dtype={'fullVisitorId': 'str'},index_col=0)

In [89]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 898309 entries, 0 to 898308
Data columns (total 28 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   visitNumber                898309 non-null  float64
 1   visitId                    898309 non-null  float64
 2   visitStartTime             898309 non-null  float64
 3   date                       898309 non-null  float64
 4   totals.hits                898309 non-null  float64
 5   totals.pageviews           898309 non-null  float64
 6   totals.timeOnSite          898309 non-null  float64
 7   totals.transactions        898309 non-null  float64
 8   totals.transactionRevenue  898309 non-null  float64
 9   totals.sessionQualityDim   898309 non-null  int64
 10  trafficSource.campaign     898309 non-null  int64
 11  trafficSource.source       898309 non-null  int64
 12  trafficSource.medium       898309 non-null  int64
 13  trafficSource.keyword      898309 non-null  int64
 14  trafficSource.adContent    898309 non-null  int64
 15  device.browser             898309 non-null  int64
 16  device.operatingSystem     898309 non-null  int64
 17  device.isMobile            898309 non-null  bool
 18  device.deviceCategory      898309 non-null  int64
 19  geoNetwork.continent       898309 non-null  int64
 20  geoNetwork.subContinent    898309 non-null  int64
 21  geoNetwork.country         898309 non-null  int64
 22  geoNetwork.region          898309 non-null  int64
 23  geoNetwork.metro           898309 non-null  int64
 24  geoNetwork.city            898309 non-null  int64
 25  geoNetwork.networkDomain   898309 non-null  int64
 26  fullVisitorId              898309 non-null  object
 27  channelGrouping            898309 non-null  int64
dtypes: bool(1), float64(9), int64(17), object(1)
memory usage: 192.8+ MB